{% extends 'base_student.html' %}

{% block title %}
Дневник ученика
{% endblock%}

{% block body %}
    <h1>Дневник ученика</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Adipisci autem dicta quidem. Consequatur!</li>
<li>Ab esse ex harum magni.</li>
<li>Debitis exercitationem fugit libero omnis.</li>
<li>Explicabo inventore nostrum numquam quidem!</li>
<li>Architecto iure quae reiciendis repellat.</li>
<li>Amet enim libero perferendis quam.</li>
<li>Atque est laborum tempora veritatis!</li>
<li>Autem numquam quidem recusandae vel!</li>
<li>Ad ea eveniet odit quia.</li>
<li>Culpa laboriosam libero quaerat ratione.</li>
<li>Consequatur dolore error iste nisi!</li>
<li>Fuga minus pariatur quisquam rem?</li>
<li>Autem est minima nihil ullam!</li>
<li>Aperiam consequatur nobis tempore. Dolores.</li>
<li>Consequatur dolore dolores eaque provident!</li>
<li>Delectus magni nostrum numquam sit?</li>
<li>Ab et omnis recusandae reiciendis.</li>
<li>Atque doloremque doloribus obcaecati perspiciatis?</li>
<li>Corporis dicta hic illum laudantium!</li>
<li>Beatae esse facilis ipsa! Earum.</li>
<li>Accusamus facilis laboriosam sed voluptate.</li>
<li>Eius facilis impedit veniam! Labore?</li>
<li>Corporis illo nisi ratione repellat!</li>
<li>Dolores id itaque placeat tenetur!</li>
<li>Dignissimos distinctio iusto magnam necessitatibus.</li>
<li>Blanditiis dolor facilis odit officia!</li>
<li>Non, quibusdam quis? Deserunt, doloribus?</li>
<li>Assumenda cupiditate earum porro sequi?</li>
<li>Natus quis recusandae rerum sunt!</li>
<li>A aliquid non rerum voluptas?</li>
<li>Aliquam distinctio magnam quis. Unde.</li>
<li>Atque itaque necessitatibus repudiandae voluptates.</li>
<li>Eos laborum minus officiis vel!</li>
<li>Adipisci aliquam consectetur consequuntur quidem.</li>
<li>Ab harum hic rerum temporibus.</li>
<li>Consequatur eos non recusandae ut.</li>
<li>Animi error esse iste placeat.</li>
<li>Ab eius fuga maxime pariatur?</li>
<li>Aperiam nemo quidem repellendus similique.</li>
<li>Obcaecati pariatur quisquam sint tenetur.</li>
<li>Aperiam aspernatur consequatur ipsa tenetur?</li>
<li>Ab accusantium iure nemo officiis!</li>
<li>Iste libero maiores quae voluptate.</li>
<li>Aut iusto nihil quia quibusdam?</li>
<li>Cumque debitis enim placeat sapiente.</li>
<li>Illo nulla officiis perspiciatis quasi.</li>
<li>Eos fugit illum magni quas.</li>
<li>Consequuntur cum, ipsam! Ex, voluptas?</li>
<li>Eos ex quod sunt voluptate?</li>
<li>Doloribus natus quis voluptatem. Veritatis?</li>
<li>Aperiam consequatur neque possimus veniam.</li>
<li>Culpa minima quidem quis vel?</li>
<li>Cumque dolor labore mollitia optio.</li>
<li>Accusamus cum ea ipsum non?</li>
<li>Accusantium ad consequuntur deleniti vero?</li>
<li>Dolor illo incidunt itaque obcaecati?</li>
<li>Harum ipsum rem vero voluptas.</li>
<li>Dicta dolorem inventore nesciunt vel!</li>
<li>A minus quam quod tempore?</li>
<li>Ad quam sit tempore voluptas.</li>
<li>Asperiores inventore quam sed voluptatibus?</li>
<li>At fugit possimus tempore voluptate!</li>
<li>Error facere labore possimus voluptates.</li>
<li>Ad eos et quae quisquam.</li>
<li>Distinctio inventore magni suscipit tempore.</li>
<li>Animi architecto dicta dolorum exercitationem?</li>
<li>Enim inventore natus recusandae veritatis.</li>
<li>Consequatur doloribus eos necessitatibus quia!</li>
<li>Culpa placeat porro quasi voluptatum?</li>
{% endblock%}